table {
    border-collapse: collapse;
}
td {
    padding: 5px 10px;
    text-align: center;
}

#cal-show{
    text-align: right;
    border: none;
}

input {
    text-align: center;
}
input:focus {
    outline: none;
}

